<%- include('./partials/header.ejs'); %>
<body>
   <%- include('./partials/navbar.ejs'); %>
   <%- include('./partials/indexPage/slideShow.ejs'); %>
   <%- include('./partials/indexPage/tabProdutos.ejs'); %>
</body>
<%- include('./partials/scripts.ejs'); %>